<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
    <label for="">{{ field.label }}</label>
    <div class="form-group">{{ field }}</div>
    {% if field.errors %}
     <p>{{ field.errors }}</p>
    {% endif %}
    {% endfor %}
    <button type="submit">Register</button>
</form>
</body>
</html>